.nav--activity{
    display: flex;
    height: 10vh;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1); 
    background-color: #f8f1f1;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(6, 27, 161, 0.24); 


  }
  .header__activity--text > h2{
    
    color: blue;
   
  }
  .header__activity--icon{
    position:absolute;
    right:1%;top:10px;
  }
  .goback__btn{
    position:absolute;
    left: 1%;
    top: 10px;
  }
 /* window1 css */
 .conteiner__activity--AW1 {
  display: grid;
   margin-top: 2px;
   /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.24); */
    height: 50vh;
    
  }
  .AW1__conteiner{
    padding: 0 8px;

  }

  .conteiner__activity--AW2 {
    margin-top: 1px;
    margin-bottom: 2px;
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.24); */
     height: 30vh;
     
   }
  .AW2__conteiner{
    padding: 0 8px;

  }
 /* card inside */
 
/* Float four columns side by side */
.column__activity {
  float: left;
  width: 50%;
  height: 15vh;
  padding: 0 4px;
  margin-bottom: 4px;
  margin-top:2px;
}

/* Remove extra left and right margins, due to padding */
.row__activity {
  margin: 0 -5px; 
  margin-bottom: 2px;
  height: 15vh;
 
}

/* Clear floats after the columns */
.row__activity:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 5px) {
  .column__activity {
    width: 100%;
    display: block;
    margin-bottom: 2px;
    height: 15vh;
    margin-top: 2px;

  }
}

/* Style the counter cards */
.card__activity {
  display: flex;
  box-shadow:  0 0 2px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.24);
  text-align:auto;
  background-color: #f1f1f1;
  height: 15vh;
  border-radius: 4px;

}

/* Pools style */
.polls{
  display: flex;
  box-shadow:  0 0 2px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(61, 66, 105, 0.396);
  height: 12vh;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
}
.poll--text{
  color: blue;
}
.poll--text > p{
  color: #000;
  
  margin-top: -15px;
  

}

.poll--icon{
  position:absolute;
  right:2%;top:20px;
}
/* teaccher talk */

.talk {
  
  box-shadow:  0 0 2px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(61, 66, 105, 0.396);
  
  border:#000;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #000;
  margin-top: 16px;
  margin-bottom: 2px;
  max-height: 10vh;
  height: 10vh;
}
.talk--text {
  color: white;

}
.talk--text > p{
  margin-top: -1px;
}
